# Python
__pycache__/
*.py[cod]
*.pyo

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# AWS credentials / secrets
*.pem
*.key
*.env
secrets.json

# IDE/editor
.vscode/
.idea/

# Jupyter / notebooks
.ipynb_checkpoints

# Logs
*.log

